status {
  width: 97%;
  height: 50px;
  backdrop-filter: brightness(1.5) blur(4px);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
  border-radius: 30px;
  justify-content: space-between;
}
.status-container {
  display: flex;
  flex-direction: column;
}
.status-wrapper {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.status-wrapper-animation {
  animation: wrapper-draw-in 0.2s ease-out;
}
.status-text {
  max-width: 600px;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@keyframes wrapper-draw-in {
  from {
    transform: translateY(120%);
    opacity: 0;
  }
}

/* wrapper animations */
.wrapper-draw-out {
  transition: 0.3s ease-out;
  transform: translateY(-120%);
  opacity: 0;
}

img.status-icon {
  height: 20px;
  margin: 10px;
}
img.status-icon.rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg) 
  }
}
/* controls */
.status-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* Settings */
.status-control {
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
#settings-button:hover,
.button-enabled:hover {
  transform: scale(1.1);
  transition: 0.1s;
  background: var(--settings-button-hover);
}
#settings-button:active,
.button-enabled:active {
  transform: scale(0.9);
}

.settings-icon {
  height: 30px;
}

#save-button,
#play-button {
  border-radius: 10px;
  opacity: 0.5;
  cursor: default;
}
.button-enabled {
  opacity: 1 !important;
  cursor: pointer !important;
}